pretrained_models/*

__pycache__/

*.egg-info/

*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.webp
*.ico
*.svg
*.pdf
*.docx
*.doc
*.xls
*.xlsx
*.json
*.mp4
*.avi
*.mov
*.mkv
*.webm
*.flv
*.wmv
*.mpg
*.mpeg
*.m4v
*.m4a
*.m4b
*.m4p
*.txt